body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://github.com/wanderssong/wlimports/blob/main/Img/fundo.png?raw=true);
    box-sizing: border-box;
}

header {
    background: url(https://github.com/wanderssong/wlimports/blob/main/Img/fundofooter.jpg?raw=true);
    color: #fff;
    padding: 0px 0; /* Ajuste de padding para separação superior e inferior */
    display: flex;
    flex-direction: row; /* Mudança para linha para alinhar itens horizontalmente */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    animation: glowing 1.5s infinite;
    box-shadow: 0 0 10px #f16b05;
}

.logo {
    max-height: 120px;
    width: 160px;
    height: auto;
}

#cart-button {
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 12px;
    margin-left: 120px; /* Mover o botão para o lado direito */
}

#cart-button:hover {
    background-color: #f16b05;
}

#search-bar {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    margin-top: 10px; /* Adiciona margem superior para separação do h1 */
    animation: glowing 1.5s infinite;
}
@keyframes glowing {                 /* Adiciona borda animada no produtos */
    0% { box-shadow: 0 0 5px #f16b05; }
    50% { box-shadow: 0 0 20px #f16b05; }
    100% { box-shadow: 0 0 5px #f16b05; }
}
@keyframes slideAndFade {          /* Adiciona animacao na menssagem de adicionado ao carrinho */
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

#search-bar:focus {
    outline: none;
    border-color: #f16b05;
    box-shadow: 0 0 10px rgba(241, 107, 5, 0.8);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    text-align: center;
    font-size: 24px;
    color: #faf7f7;
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px; /* Adiciona margem superior para separação do campo de busca */
}
/* CSS para o elemento h2 */
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  overflow: hidden; /* Para esconder a borda inicialmente */
}

/* Pseudo-elemento para a borda */
h2::after {
  content: ''; /* Criando um pseudo-elemento para a borda */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Altura da borda */
  background-color: #ff9500; /* Cor da borda */
  animation: pulseBorder 2s linear infinite; /* Animando a borda continuamente */
}

/* Keyframes para a animação de pulsação */
@keyframes pulseBorder {
  0% {
    transform: scaleX(0); /* Começa sem largura */
  }
  50% {
    transform: scaleX(1); /* Cresce até a largura total */
  }
  100% {
    transform: scaleX(0); /* Volta para sem largura */
  }
}

h6 {
    color: #ddd;
    font-size: 16px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px; /* Diminuir o padding */
    text-align: center;
    width: 200px; /* Diminuir a largura */
    box-shadow: 0 2px 5px rgba(253, 252, 252, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    animation: glowing 1.5s infinite;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product h2 {
    font-size: 16px; /* Ajustar tamanho da fonte */
    margin: 10px 0;
}

.product p {
    font-size: 14px; /* Ajustar tamanho da fonte */
    color: #333;
}

.product button {
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px; /* Ajustar o padding */
    cursor: pointer;
    font-size: 14px; /* Ajustar tamanho da fonte */
    margin-bottom: 5px;
}

.product button:hover {
    background-color: #ef6401;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0; /* Espaçamento superior e inferior */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #f16b05;
}

button {
    background-color: #05f150;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #f16b05;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#pagamento-forma {
    background-color: #0d0d0d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: calc(100% - 20px);
    margin: 10px 0; /* Espaçamento superior e inferior */
}

#pagamento-forma:hover {
    background-color: #fc8506;
    transform: scale(1.05);
}

#pagamento-forma:active {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-out forwards;
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content {                      /* modal carrinho */
    background-color: #121111;
    color: #faf7f7;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    animation: slideIn 0.5s ease-out forwards;
    box-shadow: 0 0 10px #f16b05;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 20px;
}

.close:hover,
.close:focus {
    color: rgb(254, 90, 2);
    text-decoration: none;
    cursor: pointer;
}

footer {
    background: url(https://github.com/wanderssong/wlimports/blob/main/Img/fundofooter.jpg?raw=true);
    color: #fff;
    padding: 2px;
    text-align: center;
    position: relative;
}

footer img {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 160px;
    height: auto;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart-items li button {
    background-color: red;
    color: rgb(243, 241, 241);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#cart-items li button:hover {
    background-color: darkred;
}

#product-modal .modal-content {
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #fff;
}

#product-modal img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 18px;
    animation: slideAndFade 3s ease-in-out forwards;
}

.toast.show {
    display: block;
}

#endereco-form {
    margin-top: 20px;
    text-align: center;
}

#endereco-form h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

#endereco-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#endereco-form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
}

#endereco-form button[type="submit"] {
    background-color: #25D366;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
}

#endereco-form button[type="submit"]:hover {
    background-color: #128C7E;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        max-width: 90%;
        margin: 20% auto;
    }

    .product-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 10px;
        gap: 10px; /* Espaçamento entre os produtos */
    }

    .product {
        flex: 0 0 auto;
        width: 150px; /* Largura dos produtos */
        margin: 0 5px; /* Espaçamento horizontal entre os produtos */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        max-height: 100px;
    }

    .product h2 {
        font-size: 12px;
        margin: 5px 0;
        max-height: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    .product p {
        font-size: 10px;
        color: #333;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }

    .product button {
        font-size: 10px;
        padding: 5px;
        margin-top: 3px;
        width: 100%;
        border-radius: 5px;
    }

    #search-bar {
        width: calc(100% - 40px);
        margin: 10px 20px;
    }

    header {
        flex-direction: column;
    }

    footer img {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 10px;
    }

    #cart-button {
        width: calc(100% - 40px);
        margin: 10px 20px;
        align-self: center;
    }
}
/* Estilização adicional para os botões do carrinho */
#cart-items li button {
    background-color: #f10505;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#cart-items li button:hover {
    background-color: #f6b903;
    transform: scale(1.05);
}

#cart-items li button:active {
    transform: scale(0.95);
}
/* Estilo base para o ícone da sacola */
#cart-icon {
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #0c0c0c;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    animation: pulse-border 2s infinite;
}

/* Animação de pulso nas bordas */
@keyframes pulse-border {
    0% {
        box-shadow: 0 0 0 0 rgba(251, 105, 1, 0.6);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
}

/* Classe para animação ao adicionar produto ao carrinho */
@keyframes add-to-cart-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Aplicar a classe de animação */
.add-to-cart {
    animation: add-to-cart-animation 0.5s ease;
}

/* Remova a animação quando o mouse estiver sobre o ícone */
#cart-icon:hover {
    animation: none; /* Remove a animação ao passar o mouse */
}

#cart-icon img {
    width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
}
