@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        max-width: 80%;
    }

    .product-list {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto; /* Permite a rolagem horizontal */
        padding: 10px; /* Adiciona espaçamento interno */
    }

    .product {
        width: 220px; /* Ajusta a largura dos produtos */
        height: 310px; /* Ajusta a altura dos produtos */
        margin: 10px; /* Espaçamento entre os produtos */
        flex: 0 0 auto; /* Garante que os produtos não encolham e fiquem lado a lado */
    }

    .product img {
        width: 100%; /* Certifica-se de que a imagem ocupa toda a largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 10px 10px 0 0;
    }

    .product h2 {
        font-size: 14px; /* Tamanho da fonte do título ajustado para ser legível */
        margin: 5px 0; /* Espaçamento do título */
        max-height: 36px; /* Altura máxima do título */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .product p {
        font-size: 12px; /* Tamanho da fonte do texto ajustado */
        color: #333;
        max-height: 40px; /* Altura máxima do texto */
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product button {
        font-size: 12px; /* Tamanho da fonte do botão ajustado */
        margin-top: 3px;
        padding: 5px;
    }

    #search-bar {
        width: calc(100% - 30px);
        margin: 10px 20px;
    }

    header {
        flex-direction: column;
    }

    footer img {
        position: relative;
        bottom: auto;
        right: auto;
        margin-top: 10px;
    }

    .modal-content {
        width: 90%;
        margin: 20% auto;
    }

    #cart-button {
        width: calc(100% - 40px);
        margin: 10px 20px;
        align-self: center;
    }
}
